*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: lightsteelblue;
  background-image: url(../img/sfondo.jpg);
}

.carousel-wrapper{
  position: relative;
  width: 50%;
  height: 70%;
}

.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 75px;
  cursor: pointer;
  color: rgb(231, 227, 227);
}

.next{
  right: 0;
}

.prev:hover, .next:hover{
  color: white;
}

.slides{
  display: flex;
  justify-content: center;
  height: 100%;
}

img{
  height: 100%;
  border-radius: 15px;
}

.circle{
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translateX(-50%);
  padding: 12px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.5);
}

.circle:hover{
  background-color: rgba(0, 0, 0, 0.9);
}

.circle i{
  margin: 0 15px;
  color: white;
  cursor: pointer;
}

.circle i.active{
  color: rgb(90, 89, 89);
}

.text-autoplay{
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 999px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-autoplay:hover{
  background-color:  rgba(0, 0, 0, 0.9);
}

.text-autoplay i{
  font-size: 10px;
}

.text-autoplay span{
  cursor: pointer;  
  text-transform: uppercase;
  text-decoration: underline;
}